{% extends 'base.html' %}
{% block content %}


    <h2>Goods List</h2>
    <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for item in object_list %}
       <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            <div class="card-body">
                <h3><p class="card-text"><a href="{% url 'goods-detail' item.pk %}">{{ item.title }}</a></p></h3>
              <p class="card-text">{{ item.description|truncatewords:20  }}</p><br>
                <p class="card-text">Категория: {{ item.category }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                  <button type="button" class="btn btn-sm btn-outline-secondary">Детали</button>
                </div>
                   <a href="#" class="btn btn-primary">{{ item.price }} руб.</a>
              </div>

            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="pagination">
     <nav aria-label="Page navigation example">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </nav>
</div>

{% endblock %}